<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Laser-Focus</h1> 
		 <h1 style="color: Blue">chef de classe Armand </h1>
		 <h1 style="color: DodgerBlue">le group ci menerve vous femme la vous bavardez trop tchuippppp </h1> 
		  <h1 style="color: DodgerBlue">Liste des bavards: Valette, Gislaine</h1> 
		   <h1 style="color:Red"> If you saee this good job and see you tomorrow </h1>
                                  
		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		DSG Employee  ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Previous Job Tittle :<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Current State of Residence :<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form>
<a href="/about">Eric and Yolly for ever</a>
		</body>

	</font>
</center>
</html>
